@charset "UTF-8";

/* TODAS AS DEMAIS MÍDIAS */

/*Typical Device Breakpoints

Celular: até 600px
Tablet: a partir de 600px
Landscape tablets: a partir de 768px
Laptops/Desktops: a partir de 992px
Large laptops and desktops: a partir de 1200px
*/

/*O site já foi feito para MOBILE*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{background-image: url(../imagens/back-print.jpg);  
        
    }

    main{
        
        border: 2px solid black;
    }

    main::after{
        content:'Esta impressão foi feita através do meu site!';
        text-decoration: underline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 768px) and   (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    main{
        max-width: 500px;
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
 
}

@media screen and (min-width:992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    main{
        max-width: 800px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width:1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        max-width: 900px;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}